<footer id="footer" class="bg-primary text-white">
    <div class="container py-5 py-xl-6">
        <div class="row g-5">
            <div class="col-lg-6 col-xl-4">
                <p class="fw-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam volutpat vitae sapien fringilla pretium. Nam hendrerit dictum vulputate. Nulla velit ex, suscipit et leo vel, rhoncus porttitor justo. Proin id sapien tincidunt, ullamcorper leo eget, fringilla urna. Fusce a magna lacinia, suscipit ante vel, feugiat nulla. Sed ultrices enim magna, eget interdum leo luctus a.</p>
            </div>
            <div class="col-lg-6 col-xl-8">
                <div class="row g-5 g-md-4">
                    {% for i in 1..4 %}
                        <div class="col-md-6 col-xl-3">
                            <p class="fs-5">Footer menu #{{i}}</p>
                            <ul class="navbar-nav">
                                {% for y in 1..6 %}
                                    <li>
                                        <a href="" class="text-white">Menu item #{{y}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div><!-- .row -->
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</footer><!-- #footer -->