<header id="header" class="position-sticky top-0 left-0 bg-primary zi-2">
    <div class="container py-3 py-md-4">
        <div class="row align-items-center justify-content-between g-3">
            <div class="col">
                <p class="site-title h1 fw-bold text-white mb-0">
                    <a href="{{ path('front_home') }}" class="text-white text-decoration-none">Faros</a>
                </p>
            </div>
            <div class="col-auto d-none d-xl-block">
                <nav class="navbar">
                    <ul class="navbar-nav flex-row gap-5">
                        {% for i in 1..5 %}
                            <li class="nav-item">
                                <a href="" class="nav-link text-white">Menu item #{{i}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="col d-flex flex-wrap gap-3 align-items-center justify-content-end">
                <a href="" class="btn btn-secondary text-white">
                    Button
                </a>
                <button class="btn text-white bg-secondary p-3 lh-1 d-xl-none" data-action="toggle-menu">
                    <i class="fa-solid fa-burger"></i>
                    <span class="visually-hidden">Menu</span>
                </button>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</header><!-- #header -->
<div id="menu" class="d-xl-none">
    <nav class="navbar flex-column align-items-start justify-content-start">
        <p class="h1 fw-bold px-4 px-md-5 py-3">
            <a href="{{ path('front_home') }}" class="text-decoration-none">Faros</a>
        </p>
        <ul class="navbar-nav w-100 border-bottom">
            {% for i in 1..5 %}
                <li class="nav-item">
                    <a href="" class="nav-link px-4 px-md-5 py-3 d-block border-top">Menu item #{{i}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="menu-mask" data-action="toggle-menu"></div>
</div><!-- #menu -->